@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  background-color: white;
  color: black;
  font-family: 'Oswald', sans-serif;
  line-height: 2em;
}

h1 {
  font-size: 3em;
  padding: 3em 0 1em 0;
}

.navBar {
  background-color: white;
  position: fixed;
  min-width: 100%;
  min-height: 70px;
}

.logo {
  background-image: url("/images/headshot.jpg");
  background-size: 50px;
  border-radius: 50px;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 5px;
}

.wrapper {
  margin: 0 auto
  max-width: 960px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
  padding: 0px 15px 0px 0px;
}
nav ul a {
  color: black;
  text-decoration: none;
  transition: all .25s ease;
}
nav ul a:hover {
  color: #903749;
}
nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  nav nav ul a {
    color: black;
  }
  nav ul {
    background-color: white;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all .5s ease;
    width: 100%;
    visibility: hidden;
  }
  nav li {
    border-bottom: 2px solid #53354A;
    color: black;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }

  /*Overlay*/
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    background-color: pink;
    visibility: visible;
  }

  /*Icon for Mobile Menu*/
  nav .label-toggle {
    background-image: url("/images/headshot.jpg");
    background-size: 50px;
    border-radius: 50px;
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    float: left;
  }
  nav .wrapper {
    display: block;
  }
}
